*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/docs
/hipporag-data
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/bootstrap/cache

**/caddy
frankenphp
frankenphp-worker.php
backups/
hipporag-api/__pycache__/main.cpython-312.pyc
