fastapi
uvicorn[standard]
pydantic==2.10.4
langchain-text-splitters
redis
tiktoken
openai==1.91.0
pandas
pyarrow
networkx==3.4.2
igraph==0.11.8
numpy
tqdm
einops
tenacity==8.5.0
httpx
filelock
packaging
